@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


body, html {
  font-family: 'Nunito', sans-serif;
}


.App {
  text-align: center;

  display: flex;
  justify-content: space-around;
}
